.friends{
    width: 100%;
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px ;
    height: 383px;
    overflow-y: auto;
    box-sizing: border-box;
}

.friends_header h4{
    font-family: var(--primary-font);
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
}

.firends_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 15px;
}

.firends_wrapper:last-child {
    border-bottom: none;
}

.friends_image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: red;
}

.friends_name{
    width: 60%;
}

.friends_name h5{
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
}

.friends_btn{
    width: 20%;
}

.friends_btn button{
    width: 100%;
    border: none;
    cursor: pointer;
    padding: 8px 0;
    border-radius: 5px;
    background-color: var(--read-orange);
    color: #fff;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 600;
}

.friends_btn button:first-child {
    background-color: rgb(255, 91, 91);
    margin-bottom: 5px;
}